<table>
  <tbody>
  <tr>
    <th>Настройки: </th>
    <td>
      <%= l(:subject_width) %>
      <input type="text" id="subject_width"
             value="<%= settings['subject_width'] %>"
             size="3"
             name="settings[subject_width]" > <br>
      <%= l(:header_height) %>
      <input type="text" id="header_height"
             value="<%= settings['header_height'] %>"
             size="3"
             name="settings[header_height]" >
    </td>
  </tr>
  </tbody>
</table>
